#instituto-atletico-central-cordoba,
#instituto-atletico-central-cordoba p {
  text-align: center;
}

.sidebar-header {
  text-align: center;
  padding: 20px 0 10px;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
